 @media only screen and (max-width :600px) {  
  header{
  	height: 25vh;
  }
 .goodwa{
 	display: flex;
 	justify-content: center;
 }
 .psd{
 	display: none;
 }
.blackRad{
	display: flex;
	flex-wrap: wrap;
    }
    .blackRad a{
    	display: flex;
    	justify-content: center;
    }
    .strong{
    	display: flex;
    	flex-wrap: wrap;
    }
    .from{
    	display: flex;
    	align-items: center;
    	flex-direction: column;
    	margin-top: 25px;
    }
    .latest{
    	text-align: center;
    }

}
